{% extends "index.html" %} 
{% block head %}
	<link href="/css/danh-sach-style.css" rel="stylesheet">
	<link href="/css/tin-tuc-style.css" rel="stylesheet">
	<link href="/css/bai-viet-style.css" rel="stylesheet">
{% endblock %} 
{% block content %}
	<section class="container" id="content-page">
		<div class="row mot-hang">
					<a href="" class="big-title">TIN CÔNG NGHỆ</a>
					<span></span>
		</div> <!-- end -row -->
			<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

		<div class="row">
			<div class="col-md-9">
				<h1>Xperia XA1 có giá bán và chính thức lên kệ tại Thành Quân SmartPhone</h1>
				<span>29/03/2017</span>
				<img src="/images/news4.jpg" alt="">
				<p>Xperia XA đã rất thành công vì vậy mà nhiều người đang mong đợi phiên bản Xperia XA1 sẽ về Việt Nam. Tin vui là máy đã có giá bán chính thức và lên kệ tại Thế giới di động.<p>

				<p>Theo đó, Xperia XA1 có giá bán chính thức là 6.49 triệu đồng tại nước ta, hiện sản phẩm chỉ được bán độc quyền tại hệ thống siêu thị TGDĐ. Các bạn có thể mua máy trong thời gian từ 28/3 - 30/4 sẽ nhận được khuyến mãi là trả góp 0% hoặc phiếu mua hàng trị giá 500 ngàn đồng.</p>
				<img src="/images/news9.jpg" alt="">
				<p>Xperia XA1 vẫn có thiết kế đẹp mắt, trẻ trung với viền cạnh siêu mỏng và thừa hưởng ngôn ngữ thiết kế của Xperia XZs nên rất sang trọng.</p>
				
				<p>XA1 sở hữu camera sau với thông số 23 MP tương tự trên Xperia Z5. Camera trước của thiết bị cũng được nâng lên 8 MP. Về cấu hình, thiết bị của Sony được trang bị khá tốt như màn hình 5 inch HD, chip Helio P20, RAM 3 GB, ROM 32 GB và viên pin 2.300 mAh.</p>
			</div>

			<aside class="col-md-offset-1 col-md-2 list-menu-box">
					<ul>
						<li class="menu-box"><span class="title-list the-loai-title" >Thể loại</span>
							<ul class="the-loai">
								<li><a href="">Sản phẩm mới</a></li>
								<li><a href="">Đánh giá</a></li>
								<li><a href="">So sánh</a></li>
								<li><a href="">Sự kiện ra mắt</a></li>
								<li><a href="">Mẹo hay</a></li>
								<li><a href="">Game - App</a></li>
							</ul>
						</li>
						<li class="menu-box"><span class="title-list nhan-hieu-title" >Hãng sản xuất</span>
							<ul class="nhan-hieu">
								<li><a href="">APPLE</a></li>
								<li><a href="">SAMSUNG</a></li>
								<li><a href="">SONY</a></li>
								<li><a href="">OPPO</a></li>
								<li><a href="">ASUS</a></li>
								<li><a href="">Các hãng khác</a></li>
							</ul>
						</li>
						
						<li class="menu-box"><span class="title-list thoi-gian-title" >Thời gian</span>
							<ul class="thoi-gian">
								<li><a href="">Tuần này (4)</a></li>
								<li><a href="">Tháng ba (17)</a></li>
								<li><a href="">Tháng hai (15)</a></li>
								<li><a href="">Tháng một (20)</a></li>
							</ul>
						</li>
						<li class="menu-box"><span class="title-list sap-xep-title" >Sắp xếp</span>
							<ul class="sap-xep">
								<li><a href="">Tin mới nhất</a></li>
								<li><a href="">Tin cũ nhất</a></li>
							</ul>
						</li>			
					</ul>
				</aside> <!-- end list-menu-box -->
			</div> <!-- end -row -->

			<div class="row mot-hang">
				<a href="/tin-tuc" class="big-title big-title2">TIN TỨC LIÊN QUAN</a>
				<span></span>
				
			</div>
			<div class="row">
				<div class="col-md-3">
					<a href=""><img src="/images/news5.jpg" alt=""></a>
					<h4>So sánh nhanh những khác biệt giữa Galaxy S8 và Galaxy S8 Plus</h4>
				</div>
				<div class="col-md-3">
					<a href=""><img src="/images/news6.jpg" alt=""></a>
					<h4>Siêu phẩm 2017 , Galaxy S8, Galaxy S8 Plus chính thức trình làng .</h4>
				</div>
				<div class="col-md-3">
					<a href=""><img src="/images/news7.jpg" alt=""></a>
					<h4>Galaxy S8 sẽ là smartphone sạc đầy pin nhanh nhất thế giới ?</h4>
				</div>
				<div class="col-md-3">
					<a href=""><img src="/images/news8.jpg" alt=""></a>
					<h4>Samsung ra đòn để tiêu diệt những chiếc Note 7 khách hàng chưa trả</h4>
				</div>			
			</div>
	</section>
{% endblock %}