<a href="" class="back-to-top"></a>

<div class="contact-box">
    <p class="contact-box-title contact-box-button">Liên hệ - Góp ý <span class="inline">với chúng tôi</span></p>
    <span class="contact-box-icon contact-box-button"></span>

    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="contact-name" placeholder="Họ tên">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="contact-email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="contact-name" placeholder="Số điện thoại">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="contact-name" placeholder="Tiêu đề">
        </div>
        <div class="form-group">
            <textarea rows="4" cols="30" name="comment" id="contact-content" placeholder="Nội dung"></textarea>
        </div>
        <div class="form-group"><button type="submit" class="btn btn-default btt-button">Gửi</button></div>
    </form>
</div>
<!-- end contact-box  -->
<!-- HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / -->