<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1">
<title>{{ pageTitle }}</title>
<link rel="icon" href="/images/ph1.png" type="image/gif" sizes="16x16">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="/bootstrap/bootstrap.min.css" rel="stylesheet">

<link href="/css/index-style.css" rel="stylesheet">

<link rel="stylesheet" href="/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/owlcarousel/owl.theme.default.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<!--<script type="text/javascript" src="/js/login-form-js.js"></script>-->

<!--<script src="/owlcarousel/owl.carousel.min.js"></script>
<script src="/owlcarousel/carousel.js"></script>-->
<!-- OwlCarousel2 -->