{% extends "index.html" %} 
{% block head %}
<link href="/css/lien-he-style.css" rel="stylesheet">
<script src="/owlcarousel/owl.carousel.min.js"></script>
<script src="/owlcarousel/carousel.js"></script>
{% endblock %} 
{% block content %}
<section class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Liên hệ chúng tôi</h1>
			<p class="text">Nếu bạn cần bất kỳ sự giúp đỡ hay hỗ trợ, chúng tôi rất vui mừng để cung cấp cho bạn với các dịch vụ chuyên nghiệp của
				chúng tôi một cách kịp thời. Đừng ngần ngại liên hệ với chúng tôi ngay để nhận được phản ánh tốc độ!</p>
			<h4 class="address-title">Địa chỉ</h4>
			<p class="address">169 Ga Đỗ Xá - Thường Tín - Hà Nội</p>
			<h4>Số điện thoại:</h4>
			<p class="phone">0943271111</p>
			<p class="phone">0963948686</p>
			<h4>Email:</h4>
			<p class="email">thanhquan.smartphone@gmail.com</p>
		</div>

		<div class="col-md-6">
			<form action="">
				<input type="text" name="your-name" value="" class="" aria-required="true" aria-invalid="false" placeholder="Họ Tên">
				<input type="email" name="your-email" value="" class="" aria-required="true" aria-invalid="false" placeholder="Email">
				<input type="tel" name="your-phone" value="" class="" id="phone" aria-invalid="false" placeholder="Số điện thoại">
				<input type="text" name="your-title" value="" class="" id="title" aria-invalid="false" placeholder="Tiêu đề">
				<textarea name="your-message" class="" aria-invalid="false" placeholder="Lời nhắn"></textarea>
				<input type="submit" value="Gửi" class="submit">
			</form>
		</div>
		<!-- end col -->
	</div>
	<!-- end row -->
</section>

<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Chuyên viên tư vấn của chúng tôi sẵn sàng hỗ trợ bạn</h2>
				<div>
					<span></span>
					<p>Hỗ trợ khách hàng</p>
					<p>094.327.1111</p>
				</div>
				<div>
					<span></span>
					<p>Hỗ trợ khách hàng</p>
					<p>096.394.8686</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}