{% extends "index.html" %} 
{% block head %}
	<link href="/css/danh-sach-style.css" rel="stylesheet">
	<link href="/css/tin-tuc-style.css" rel="stylesheet">
{% endblock %} 
{% block content %}
	<section class="container" id="news-page">
		
		<div class="row mot-hang">
					<a href="/tin-tuc" class="big-title">TIN CÔNG NGHỆ</a>
					<span></span>
			</div> <!-- end -row -->
			<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

		<div class="row">

			<div class="col-md-9">
				<div class="news-box">
					<a class="image" href=""><img src="/images/news4.jpg" alt=""></a>
					<div class="news-box-1">
						<h3>Xperia XA1 có giá bán và chính thức lên kệ tại Thành Quân SmartPhone</h3>
						<p>Xperia XA đã rất thành công vì vậy mà nhiều người đang mong đợi phiên bản Xperia XA1 sẽ về Việt Nam. Tin vui là nó đã có giá bán chính thức tại TQSP là 6.49 triệu đồng tại nước ta, hiện sản phẩm đã được bán tại TQSP.</p>
						<p class="date">29 / 03 / 2017</p>
						<a href="/bai-viet">Đọc tiếp</a>	
					</div>
				</div>

				<div class="news-box">
					<a class="image" href=""><img src="/images/news5.jpg" alt=""></a>
					<div class="news-box-1">
						<h3>So sánh nhanh những khác biệt giữa Galaxy S8 và Galaxy S8 Plus</h3>
						<p>Như vậy ngày 27/3/2017, chúng ta đã chứng kiến việc hạ sinh hai anh em dòng Galaxy S, không ai khác chính là S8 và S8 Plus. Hãy cùng TQSP làm bài so sánh nhanh những điểm khác biệt giữa hai thiết bị này nhé.</p>
						<p class="date">28 / 03 / 2017</p>
						<a href="/bai-viet">Đọc tiếp</a>	
					</div>
				</div>
				

				<div class="news-box">
					<a class="image" href=""><img src="/images/news6.jpg" alt=""></a>
					<div class="news-box-1">
						<h3>Siêu phẩm 2017 , Galaxy S8, Galaxy S8 Plus chính thức trình làng .</h3>
						<p>Về thiết kế, cả 2 được trang bị màn hình vô cực với các cạnh cong cuốn hút, đẹp mắt. Cạnh trên và dưới cũng được thiết kế lại rất hẹp, mặt trước không còn nút Home vật lý nữa. Ngoài ra, mặt sau được phủ kính cường lực chống xước.</p>
						<p class="date">27 / 03 / 2017</p>
						<a href="/bai-viet">Đọc tiếp</a>	
					</div>
				</div>
				
				<div class="news-box">
					<a class="image" href=""><img src="/images/news7.jpg" alt=""></a>
					<div class="news-box-1">
						<h3>Galaxy S8 sẽ là smartphone sạc đầy pin nhanh nhất thế giới ?</h3>
						<p>Nếu OnePlus hay Meizu tự hào sở hữu công nghệ sạc nhanh có tốc độ sạc hàng đầu thế giới thì Samsung cũng chẳng chịu thua, khi mẫu smartphone sắp ra mắt của hãng là Galaxy S8 có thể sẽ sạc đầy pin chỉ trong vòng 20 phút.</p>
						<p class="date">28 / 03 / 2017</p>
						<a href="/bai-viet">Đọc tiếp</a>	
					</div>
				</div>

				<!-- <div class="news-box">
					<a class="image" href=""><img src="/images/news8.jpg" alt=""></a>
					<div class="news-box-1">
						<h3>Samsung ra đòn để tiêu diệt những chiếc Note 7 khách hàng chưa trả</h3>
						<p>Samsung đang lên kế hoạch phát hành bản cập nhật khiến Note 7 không thể sử dụng trong tình trạng không cắm điện. Tức là người dùng lúc nào cũng sẽ phải ngồi cạnh một ổ cắm điện.</p>
						<p class="date">28 / 03 / 2017</p>
						<a href="/bai-viet">Đọc tiếp</a>	
					</div>
				</div> -->
					<div class="pagination-box">
						<ul class="pagination">
						    <li class="active"><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li><a href="#">&gt;</a></li>
						    <li><a href="#">Trang  cuối</a></li>
						  </ul>
					</div>			
				</div> <!-- end col -->
				<aside class="col-md-offset-1 col-md-2 list-menu-box">
					<ul>
						<li class="menu-box"><span class="title-list the-loai-title" >Thể loại</span>
							<ul class="the-loai">
								<li><a href="">Sản phẩm mới</a></li>
								<li><a href="">Đánh giá</a></li>
								<li><a href="">So sánh</a></li>
								<li><a href="">Sự kiện ra mắt</a></li>
								<li><a href="">Mẹo hay</a></li>
								<li><a href="">Game - App</a></li>
							</ul>
						</li>
						<li class="menu-box"><span class="title-list nhan-hieu-title" >Hãng sản xuất</span>
							<ul class="nhan-hieu">
								<li><a href="">APPLE</a></li>
								<li><a href="">SAMSUNG</a></li>
								<li><a href="">SONY</a></li>
								<li><a href="">OPPO</a></li>
								<li><a href="">ASUS</a></li>
								<li><a href="">Các hãng khác</a></li>
							</ul>
						</li>
						
						<li class="menu-box"><span class="title-list thoi-gian-title" >Thời gian</span>
							<ul class="thoi-gian">
								<li><a href="">Tuần này (4)</a></li>
								<li><a href="">Tháng ba (17)</a></li>
								<li><a href="">Tháng hai (15)</a></li>
								<li><a href="">Tháng một (20)</a></li>
							</ul>
						</li>
						<li class="menu-box"><span class="title-list sap-xep-title" >Sắp xếp</span>
							<ul class="sap-xep">
								<li><a href="">Tin mới nhất</a></li>
								<li><a href="">Tin cũ nhất</a></li>
							</ul>
						</li>			
					</ul>
				</aside> <!-- end list-menu-box -->
			</div> <!-- end row -->
	</section>
{% endblock %}